
<h1> Places I've been </h1>

<ul>
  <% for place in @places %>
    <li>
      <a href="/places/<%= place["id"]%>"><%= place["name"] %>  </a>
    </li>
  <% end %>
</ul>

<<<<<<< HEAD
<p><a href="/places/new">Create a new place</a></p>
=======
<p><a href = "/places/new/"> Add a new place </a> </p>
>>>>>>> 31332173c8ff52dca8b3145f4490b8f3c730e03c
